!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    %meta{ content: '', name: 'description' }
    %meta{ content: '', name: 'author' }
    %title SB Admin 2 - Bootstrap Admin Theme
    %link{ href: '/assets/application.css', rel: 'stylesheet' }
    %script{src: '/assets/application.js' }
  %body
    = yield